body {
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

span {
    min-width: 120px;
    width: 120px;
    height: 20px;
    overflow-x: auto;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 20px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: bisque;
}

video {
    transform: translate(-50%, -50%);
    display: block;
    height: auto !important;
    width: 100% !important;
    position: absolute;
    top: 50%;
    left: 50%;
}

p {
    top: 68%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
    padding: 20px;
    display: none;
}

#focus-box {
    top: 40%;
    bottom: 40%;
    left: 15%;
    right: 15%;
    border: 1px solid rgb(66, 132, 255);
    position: absolute;
    z-index: 999;
    display: none;
    box-shadow:0 0 0 1600px rgba(0,0,0,0.35);
}
