body {
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

span {
    min-width: 120px;
    width: 120px;
    height: 20px;
    overflow-x: auto;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 20px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: bisque;
}

video {
    height: auto !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
