body {
    overflow-x: hidden;
}

.wrapper {
    margin-top: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#decoded-value {
    min-width: 120px;
    width: fit-content;
    max-width: 90%;
    height: 20px;
    overflow-x: auto;
    padding: 10px;
    border: 1px solid black;
    font-size: 16px;
    margin-bottom: 14px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: bisque;
    margin-bottom: 14px;
}

video {
    transform: translate(-50%, -50%);
    display: block;
    /* height: auto !important;
    width: 100% !important; */
    position: absolute;
    top: 50%;
    left: 50%;
}

#info {
    font-size: 16px;
    text-align: center;
    margin: 0 0 14px;
    display: none;
}

/* #focus-box {
    top: 40%;
    bottom: 40%;
    left: 15%;
    right: 15%;
    border: 1px solid rgb(66, 132, 255);
    position: absolute;
    z-index: 999;
    display: none;
    box-shadow:0 0 0 1600px rgba(0,0,0,0.35);
} */

#close-scan {
    position: absolute;
    top: 4%;
    right: 6%;
    z-index: 999;
    padding: 8px;
    display: none;
}

#close-scan:hover {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    video {
        width: 100%;
    }
}
