/***********************
    globals / General
**********************/
* {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-50 {
    flex: 0 0 50%;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: flex-end;
}

.jcs {
    justify-content: flex-start;
}

.aic {
    align-items: center;
}

.aie {
    align-items: flex-end;
}

.ais {
    align-items: flex-start;
}

.section {
    height: 100vh;
    width: 100%;
    padding: 100px 20px
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    max-width: 650px;
    border-radius: 6px;
}

.heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

/***********************
    Navbar
**********************/
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: white;
    border-bottom: 1px solid black;
    transition: all 0.4s;
    z-index: 999;
}

.navbar:hover {
    background-color: black;
}

.navbar:hover .navbar-item {
    color: white;
}

.navbar:hover .nav-logo {
    border: 2px solid white;
}

.navbar:hover .nav-logo__text {
    color: white;
}

.navbar-item {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.nav-logo {
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 30px;

}

.nav-logo__text {
    font-size: 22px;
}

/***********************
    About
**********************/
#about.section {
    background: linear-gradient(
        to right,
        black 0%,
        black 50%,
        white 50%,
        white 100%
    );
}

#about p {
    font-size: 20px;
    margin-bottom: 20px;
}

#about .about-right {
    padding-left: 20px;
}

#about .about-name {
    color: white;
    font-size: 46px;
}

#about .about-title {
    color: white;
    font-size: 28px;
}

.port-links {
    gap: 20px;
}

/***********************
    Projects
**********************/

#projects {
    height: auto;
    /* background-image: url('/bg/clouds.jpg'); */
    background-color: aliceblue;
}

#project-github {
    transition: .2s ease-in-out;
    width: auto;
    height: auto;
    cursor: pointer;
}

#git-link-only {
    display: flex;
    transition: .2s ease-in-out;
    height: auto;
    cursor: pointer;
}

#project-github-only {
    display: flex;
    transition: .2s ease-in-out;
    height: auto;
    cursor: pointer;
}

#project-site {
    width: auto;
    height: auto;
    transition: .2s ease-in-out;
    cursor: pointer;
}

#linkedin, #github {
    transition: all 0.3s;
}

/***** 1.5 scaled hovers 
*/
#linkedin:hover, #github:hover, .nav:hover, .arrow:hover, 
#project-github:hover, #project-site:hover, #project-github-only:hover {
    transform: scale(1.20);
}

.example {
    padding: 4px;
}

#ranks-gif {
    height: auto;
    max-width: 100%;
    width: auto;
    max-height: 600px;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.project-image {
    height: auto;
    width: 100%;
    /* max-width: 80%;
    max-height: 400px;
    width: 700px; */
    border-radius: 3px;
    margin: 0;
    transition: .2s ease-in-out;
}

.description {
    position: relative;
    height: auto;
    width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 6px; */
}

.desc-inner {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 6px;
    background-color: white;
}

.project-title {
    font-size: 24px;
}

.project-text {
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    max-width: 650px;
}

.project-links {
    margin-top: 12px;
}

.example-inner {
    gap: 30px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.slick-dots button {
    display: none;
}

.slick-dots li.slick-active {
    opacity: 1;
}

.slick-dots li {
    margin-left: 20px;
    opacity: 0.3;
    cursor: pointer;
}

.slick-dots li::marker {
    font-size: 26px;
}


/***********************
    Resume
**********************/
#resume {
    height: 50vh;
    background-image: url('/bg/field.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#resume-link {
    outline: none;
    color: white;
    background-color: #30363d;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

#resume-link:hover {
    transform: translateY(2px);
}

/***********************
    Clients
**********************/
#clients {
    height: auto;
}

#clients .client-slide {
    display: flex;
    width: fit-content;
}

#clients .clients-slider {
    padding: 50px 0px;
}

#clients .clients-slider .slick-track {
    display: flex;
    align-items: center;
}

/* Mobile */
@media (max-width: 768px) {
    /*******************
        Nav
    ******************/
    .navbar {
        padding: 20px !important;
        justify-content: center;
    }

    .nav-logo {
        display: none;
    }

    .navbar-item {
        padding: 1px 2px;
    }


    /*******************
        About
    ******************/
    #about.section {
        background: linear-gradient(
            to bottom,
            black 0%,
            black 50%,
            white 50%,
            white 100%
        );
        flex-direction: column;
    }

    #about .about-left {
        text-align: center;
    }

    #about p {
        font-size: 16px;
    }

    #about .about-right {
        padding-left: 0px;
        padding-top: 20px;
    }

    /*******************
        Projects
    ******************/
    #projects .example-inner {
        flex-direction: column;
        align-items: center;
    }

    #projects .project-text {
        font-size: 16px;
    }

    #projects .project-title {
        font-size: 22px;
    }

    .section {
        padding: 60px 20px;
    }
}