body {
    margin: 0;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    /* overflow-x: hidden, fixes projects showing up on right side of screen
    and users being able to scroll/swipe to see it */
    overflow-x: hidden !important;
}

body::-webkit-scrollbar { 
    display: none; 
} 

/****

Home page CSS

******/
#bg-home {
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    margin-top: -33px;
}
#home {
    position: relative;
    text-align: center;
}

.nav-bar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    margin-right: 50px;
    top: 50px;
    text-align: right;
    background-color: transparent;
    z-index: 1;
}

.nav {
    margin-right: 15px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-size: 1vw;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.nav:focus {
    outline: none;
    color: grey;
}

.home-btn.nav:active, .projects-btn.nav:active, .resume-btn.nav:active, .about-btn.nav:active {
    transform: translateY(4px);
}

#wrapper {
   position: relative;
}

#title-name {
    font-family: 'Bangers', cursive;
    font-size: 80px;
    font-size: 5vw;
    text-align: center;
    margin: 0;
    transition: .2s ease-in-out;
    transform-origin: right;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#title-name:hover {
    transform: scale(1.05) translate(-45%, -50%);
}

#sub-title {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    font-size: 2vw;
    text-align: center;
    margin: 0;
    transition: .2s ease-in-out;
    transform-origin: right;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#sub-title:hover {
    transform: scale(1.05) translate(-45%, -50%);
}

#about {
    display: none;
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    width: 50%;
    font-size: 25px;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.port-links {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#linkedin {
    width: auto;
    width: 7vw;
    height: auto;
    transition: .2s ease-in-out;
}

#github {
    margin-bottom: 5px;
    width: auto;
    width: 5vw;
    height: auto;
    transition: .2s ease-in-out;
}

/***** 1.5 scaled hovers 
*/
#linkedin:hover, #github:hover, .nav:hover, .arrow:hover, 
#project-github:hover, #project-site:hover, #project-github-only:hover {
    transform: scale(1.25);
}

/****

Projects CSS

******/

#projects {
    position: relative;
}

#bg-projects{
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    margin-top: -4px;
    margin-bottom: -4px;
}

i{
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 15px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.next-btn.arrow {
    z-index: 25;
    background-color: transparent;
    border-style: none;
    position: absolute;
    right: 20px;
    top: 45%;
    transition: .2s ease-in-out;
}

.back-btn.arrow {
    z-index: 25;
    background-color: transparent;
    border-style: none;
    position: absolute;
    left: 20px;
    top: 45%;
    transition: .2s ease-in-out;
}

.arrow {
    cursor: pointer;
}

.arrow:focus {
    outline: none;
}

.example {
    /* visibility: hidden;  */
    position: absolute;
    margin: 0;
    top: 45%;
    left: 200%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box; 
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ranks-image-wrap {
    margin-right: 100px;
    margin-left: 50px;
}

#ranks-gif {
    height: auto;
    max-width: 100%;
    width: auto;
    max-height: 600px;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.project-image {
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 400px;
    width: 700px;
    border-radius: 3px;
    margin: 0;
    transition: .2s ease-in-out;
}

.project-image:hover {
    transform: scale(1.05)
}

.next-image.arrow {
    background-color: transparent;
    border-style: none;
    transition: .2s ease-in-out;
    height: auto;
    width: auto;
    min-height: 50px;
    margin-left: 10px;

}

.prev-image.arrow {
    background-color: transparent;
    border-style: none;
    transition: .2s ease-in-out;
    height: auto;
    width: auto;
    min-height: 50px;
    margin-right: 10px;
    text-decoration: none;
}

.description {
    position: relative;
    height: auto;
    max-width: 40%;
    margin-left: 50px;
}

.ranks.description {
    margin-left: 150px;
}

.project-title{
    font-family: 'Bangers', cursive;
    font-weight: 10;
    font-size: 50px;
    transition: .2s ease-in-out;
}

.project-title:hover {
    transform: scale(1.05)
}

.project-text{
    font-family: 'Acme', sans-serif;
    font-size: 25px;
    font-size: 1.5vw;
    transition: .2s ease-in-out;
}

.project-text:hover {
    transform: scale(1.01)
}

#project-github {
    position: absolute;
    transition: .2s ease-in-out;
    width: auto;
    width: 5vw;
    height: auto;
    right: 50%;
    cursor: pointer;
}

#git-link-only {
    display: flex;
    transition: .2s ease-in-out;
    width: auto;
    width: 5vw;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

#project-github-only{
    display: flex;
    transition: .2s ease-in-out;
    width: auto;
    width: 5vw;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}
#project-site {
    position: absolute;
    width: auto;
    width: 4vw;
    height: auto;
    transition: .2s ease-in-out;
    left: 50%;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/****

Resume CSS

******/

#resume {
    position: relative;
}

#bg-resume {
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -5px;
}

#resume-link {
    color:black;
    font-size: 76px;
    font-family: 'Bangers', cursive;
    text-decoration: none;
    position: absolute;
    margin: 0;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: .2s ease-in-out;
    cursor: pointer;
}

#resume-link:hover {
    transform: scale(1.2) translate(-43%, -50%);
}

/*******
Animations / transitions
****/
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#left{
    left: -150%;
}

#right{
    left: 150%;
}

#center{
    left: 50%;
}

#slide-left {
    -webkit-animation: slideInLeft 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slideInLeft 1s forwards;
    animation-delay: 2s;
}

#slide-right {
    -webkit-animation: slideOutRight 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slideOutRight 1s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slideInLeft {
    100% { left: 50%; }
}

@keyframes slideInLeft {
    100% { left: 50%; }
}

@-webkit-keyframes slideOutRight {
    100% { left: 150%; }
}

@keyframes slideOutRight {
    100% { left: 150%; }
}

@-webkit-keyframes slideOutLeft {
    100% { left: -150%; }
}

@keyframes slideOutLeft {
    100% { left: -150%; }
}

@media only screen and (max-width: 768px) {

    /*****
        Background images
    *****/

    #bg-home {
        max-height: 105vh;
        height: auto;
        width: auto;
        transform: translate( -59%, 0%);
    }

    #projects {
        max-width: 500px;
    }

    #bg-projects {
        max-height: 105vh;
        height: auto;
        width: auto;
        transform: translate( -50%, 0%);
    }

    #bg-resume {
        max-height: 105vh;
        height: auto;
        width: auto;
        transform: translate( -45%, 0%);
    }

    /*****
        Home page css
    *****/

    .nav-bar{
        text-align: center;
        margin-right: 0px;
        top: 20px;
    }

    .nav {
        font-size: 15px;
    }

    #res-btn {
        margin-right: 0px;
    }

    #title-name {
        font-size: 50px;
        top: 13%;
    }

    #sub-title {
        top: 20%;
    }

    #about {
        font-size: 18px;
        color: white;
        padding-right: 5px;
        padding-left: 5px;
        width: auto;
        top: 45%;
    }

    .port-links {
        top: 28%;
    }

    #sub-title {
        font-size: 30px;
    }

    #linkedin {
        width: 60%;
    }

    #github {
        width: 60%;
    }

    /****
        Project images, text, wrappers css
      ****/

    .next-btn.arrow {
        right: 10px;
    }
    
    .back-btn.arrow {
        left: 10px;
    }

    .ranks.example {
        /* visibility: hidden;  */
        position: absolute;
        margin: 0;
        top: 46%;
        left: 150%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }

    .example {
        top: 46%;
        width: '100%';
        height: 'auto';
        margin: auto 0;
    }
    
    .open-inventory.example {
        top: 53%;
    }

    /*****
        Project descriptions css
      ****/

    .description {
        margin: auto;
        max-width: 80%;
    }

    .ranks.description {
        margin: auto;
    }

    /*****
        Wrappers, project images
      *****/

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .image-wrapper {
        margin: auto;
        padding-bottom: 10px;
    }

    #ranks-image-wrap {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0px;
    }

    #ranks-gif {
        width: 100%;
        max-height: 250px;
    }

    .project-image {
        max-width: 70%;
    }

    i{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 8px;
    }
    
    .next-image.arrow {
        margin-left: 10px;
    }

    .prev-image.arrow {
        margin-right: 10px;
    }

    .project-title{
        font-size: 25px;
        margin-bottom: 0px;
    }

    .project-text{
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 5px;
    }

    #project-site {
        margin-top: 8px;
        width: 20%;
    }

    #project-github {
        width: 30%;
    }

    #git-link-only {
        width: 64px;
        height: 64px;
        display: block;
        text-align: center;
    }

    #project-github-only {
        width: 64px;
        height: 64px;
    }

    #resume-link {
        font-size: 50px;
    }
}